/*https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l*/
body {
    background-color: black;
    color: white;
    margin: auto;
    width: auto;
    padding: 10px;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 250px;
}

thead tr {
    background-color: blue;
    color: #ffffff;
    text-align: center;
}

th, td {
    padding: 12px 15px;
    vertical-align: top;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #696969;
}

a {
    color: lightblue
}
