/*https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l*/
body {
    background-color: black;
    color: white;
    margin: auto;
    width: auto;
    padding: 10px;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
    font-family: sans-serif;
    min-width: 250px;
}

thead tr {
    background-color: blue;
    color: #ffffff;
    text-align: center;
}

th, td {
    padding: 12px 15px;
    vertical-align: top;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #696969;
}

a {
    color: lightblue
}

.tab {
    overflow: hidden;
    background-color: black;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: black;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: blue;
}
  
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    font-size: 0.9em;
}